/* components/SuccessIcon.module.css */
#success-icon {
  width: 100px; /* Default size, can be overridden by prop */
  height: 100px; /* Default size, can be overridden by prop */
}

.circle {
  transform-origin: center;
  animation: circleScale 0.3s ease-out forwards;
}

.checkmark {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: drawCheckmark 0.5s 0.3s ease-out forwards;
}

@keyframes circleScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes drawCheckmark {
  100% {
    stroke-dashoffset: 0;
  }
}
