.navigation {
    display: flex;
    width: max-content;
    border-radius: 4rem;
    background-color: rgba(240, 248, 255, 0.167);
    left: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    gap: 0.1rem;
}
.notnavigation {
    display: flex;
    width: max-content;
    font-size: small;
    padding: 1.5rem;
    border-radius: 4rem;
    background-color: rgba(240, 248, 255, 0.167);
    margin-bottom: 2rem;
    gap: 0.1rem;
}

.navigation h1 {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 4rem;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

.navigation hr {
    margin: 0.6rem 0;
    transition: all 0.3s ease-in-out;
}

.navigation h1:hover {
    background-color: rgba(240, 248, 255, 0.442);
}

.navigation h1:hover+hr {
    margin: 1.3rem 0;
    opacity: 0;
}

.navigation hr:has(+h1:hover) {
    margin: 1.3rem 0;
    opacity: 0;
}

.letter {
    position: relative;
    /* border: 5px solid rgb(243, 255, 72); */
    border: 2px solid rgba(var(--card-border-rgb), 0.5);
    margin-bottom: 2rem;
    width: 18rem;
    border-radius: var(--border-radius);
    padding: 1.5rem 2rem;
    cursor: pointer;
    /* transition: opacity 0.1s ease; */
}
.letter.visibility{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}